// - - - - - - - - - - - - - - - - - -

// Page - Blog

// - - - - - - - - - - - - - - - - - -


.header--single {
	padding-top: 40px;
	padding-left: 0; 

	.header__title {
		margin-bottom: 16px;
	}

	.header__subtitle {
		max-width: 556px;
	}

	@include mq(tabletp) {
		padding-top: 56px;
		padding-left: 0;
	}
}