---
layout: default
title: About Me
---

<section class="about">
  {% if include.divider == true %}
    <div class="default_wrap"><hr/></div>
    {% endif %}
  <div class="default_wrap wrap grid">

    <div class="about__image">
      <img src="/images/blog/general/Rachelle.png" alt="A Photo of Rachelle">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
        <header class="header" style="padding-bottom:40px;">
    <div class="default_wrap">
      <h1 style="font-family: Ubuntu">~# whoami</h1>
      <h5 class="intro subtitle--light">I'm Rachelle. Nice to meet you.</h5>    
    </div>
  </header>
     
  <div class="default_wrap">
     <p>I love to learn, improve, create, and build upon projects that I am most passionate about—strengthening the community and protecting the technologies we use every day.</p>

    <p>With over five years of experience in the technology industry, I am currently an <strong>IT Administrator</strong> specializing in security, privacy, and training.</p>

    <p>In my spare time you'll find me learning as much as I can about cybersecurity--because we all know, the learning never really stops!</p>


    <p>Right now, I'm focused on completing the OSCP certification and solving as many Hack The Box machines as possible.</p>

    <p>Want to chat? Send me a message.</p>

    <a href="#" class="cta button--fill contact-trigger js-contact">Get In Touch</a>
  </div>
    </div>
  </div>
</section>
